body {
    background: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 80px;
}

.box {
    background: #000;
    padding: 40px;
    border-radius: 15px;
    width: 60%;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.1);
}

input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

button {
    background: #ff5722;
    border: none;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

button:disabled {
    background: #555;
}

.advert-box {
    margin-top: 150px;
}
 
