body {
    margin: 0;
    background: #0e0e0e;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin-top: 80px;
}

h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 18px;
    color: #ccc;
}

.card {
    margin: 40px auto;
    padding: 25px;
    background: #1c1c1c;
    width: 85%;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #000;
}

.ad-box {
    background: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #999;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px;
    background: #ff5722;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 15px 0;
    transition: 0.3s;
}

.btn:hover {
    background: #ff784e;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
